<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head>
        <title>{% if title %}{{title}} &laquo; {% endif %}{{site.SITE_NAME}}</title>
        <base href="{{site.SITE_URL}}" />
        {% for ss in site.STYLESHEETS %}
        <link rel="stylesheet" type="text/css" href="{{ss}}" />
        {% endfor %}
        {% for js in site.JAVASCRIPT %}
        <script type="text/javascript" src="{{js}}"></script>
        {% endfor %}
        {% block head %}
        {{ htmlhead }}
        {% endblock %}
        {% block meta %}
        {{ htmlmeta }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {{ htmlbody }}
        {% endblock %}
    </body>
</html>
